<p id="notice"><%= notice %></p>

<h1>Linguagens</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Extensao</th>
      <th>Descricao</th>
      <th>Icone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @linguagens.each do |linguagem| %>
      <tr>
        <td><%= linguagem.nome %></td>
        <td><%= linguagem.extensao %></td>
        <td><%= linguagem.descricao %></td>
        <td><%= linguagem.icone %></td>
        <td><%= link_to 'Show', linguagem %></td>
        <td><%= link_to 'Edit', edit_linguagem_path(linguagem) %></td>
        <td><%= link_to 'Destroy', linguagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Linguagem', new_linguagem_path %>
